body {
  margin: 0;
}

#menu {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 2.2em;
  bottom: 1em;
  width: 715px;
  height: 80px;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

#menu img {
  flex-basis: 80px;
  flex-grow: 1;
}

#menu img:not(#move) {
  background-color: rgba(0, 0, 0, 0.5);
  width: 72px;
  height: 72px;
  border: 4px solid gray;
  border-radius: 2px;
}

#menu img:not(#move):hover {
  width: 70px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.5);
  border-width: 5px;
}

#move {
  height: 35px;
  width: 35px;
  background-color: rgba(50, 50, 50, 0.5);
  border: 3px solid gray;
  border-radius: 3px;
}

#move:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
